astroid==3.0.2; python_full_version >= '3.8.0'
colorama==0.4.6; sys_platform == 'win32'
dill==0.3.7; python_version >= '3.11'
isort==5.13.2; python_full_version >= '3.8.0'
mccabe==0.7.0; python_version >= '3.6'
platformdirs==4.1.0; python_version >= '3.8'
pylint==3.0.3; python_full_version >= '3.8.0'
tomlkit==0.12.3; python_version >= '3.7'